html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

#main {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  background: #e4d394;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #ffba00;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
}
.header__title {
  font-weight: 600;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.header__logo {
  width: 12%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: all 0.25s linear;
  position: relative;
}
.header__item {
  padding-left: 50px;
}
.header__item a {
  color: black;
  font-size: 16px;
}
.header__item:hover {
  color: rgba(0, 0, 0, 0.473);
}
.header__item a:hover {
  color: rgba(0, 0, 0, 0.473);
}
.header__bottom {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.header__input {
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
}
.header__input i {
  cursor: pointer;
}
.header__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 20px;
  color: #fea115;
}
.header__ip {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}
.header__login {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}
.header__login i {
  font-size: 30px;
  margin-right: 10px;
}
.header__login, .header__up {
  width: 20%;
  text-align: center;
  color: #000;
}
.header__up {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 10px 0px;
  background: #fc9807;
  border-radius: 5px;
  animation: all 0.25s linear;
}
.header__up i {
  font-size: 18px;
  margin-right: 8px;
}
.header__up:hover {
  background: #d18006;
}
.header__hover:hover .story {
  display: block;
}

.story {
  position: absolute;
  top: 100%;
  left: 185px;
  background-color: #fff;
  z-index: 1;
  width: 55%;
  display: none;
}
.story__title {
  display: flex;
  justify-content: space-around;
  padding: 17px 25px;
  border-bottom: 3px solid #999;
}
.story__tt {
  width: 100%;
}
.story__desc {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
.story__btn {
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  background-color: #fc9807;
}

.banner {
  margin-bottom: 15px;
  padding-top: 120px;
}
.banner__container {
  width: 100%;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.banner__img {
  border-radius: 5px;
}
.banner__list {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.banner__item:first-child i {
  background: #589f39;
}
.banner__item:nth-child(2) i {
  background: #0394a5;
}
.banner__item:nth-child(3) i {
  background: #ff7b02;
}
.banner__item:nth-child(4) i {
  background: #589f39;
}

.list__container {
  background: #fff;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.list__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.list__desc {
  font-size: 15px;
  max-width: 100%;
}
.list__image {
  margin-bottom: 10px;
}
.list__item {
  color: black;
  width: calc(14.28% - 42.85px);
  padding: 15px 15px 0 15px;
}

.new__container {
  width: 100%;
  background: #fff;
}
.new__title {
  font-weight: 600;
  padding: 15px 0 15px 10px;
}
.new__image {
  margin-bottom: 10px;
}
.new__time {
  margin-left: 10px;
}
.new__desc {
  color: black;
  margin-bottom: 5px;
}
.new__buy {
  display: block;
  margin-top: 5px;
  color: #d0021b;
  font-weight: 600;
  margin-bottom: 10px;
}
.new__bt {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #999;
}
.new__product {
  display: flex;
}
.new__list {
  width: 25%;
  padding: 12px;
  border: 1px solid #f4f4f4;
  transition: all 0.2s linear;
}
.new__list:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.new__xemthem {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #f4f4f4;
  display: inline-block;
  line-height: 40px;
}
.new__xemthem i {
  margin-left: 4px;
  font-size: 20px;
  font-weight: 600;
}

.content__container {
  background-color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
.content__title {
  padding: 20px 0;
}
.content__desc {
  font-size: 13px;
  color: #777777;
  line-height: 1.7;
  letter-spacing: 0.2px;
}
.content__color {
  font-weight: bolder;
  color: #38699f;
  transition: all 0.2 linear;
}
.content__color:hover {
  color: #628db4;
}
.content__gray {
  font-weight: bolder;
}
.content__thugon {
  margin: 15px auto;
  display: block;
  text-align: center;
  font-size: 14px;
}
.content__thugon i {
  padding-left: 4px;
}

.info {
  width: 100%;
  margin: 0 15px;
}
.info__title {
  padding: 0;
  margin-bottom: 35px;
  font-weight: bolder;
  color: #777777;
}
.info__notify {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
.info__list {
  list-style: revert;
  width: 24%;
}
.info__item {
  line-height: 25px;
  font-size: 13px;
  color: #f4f4f4;
  list-style-position: inside;
  color: #777777;
}

.div {
  width: 100%;
  height: 10px;
  background-color: #eee;
}

.footer {
  background-color: #fff;
}
.footer__title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer__container {
  padding: 35px 10px;
  box-sizing: border-box;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  width: calc(25% - 40px);
}
.footer__item {
  display: flex;
  flex-direction: row;
  padding: 0;
  text-align: left;
  justify-content: space-between;
}
.footer__app, .footer__img {
  width: 48%;
}
.footer__app img {
  margin-bottom: 15px;
}
.footer__icon {
  display: flex;
  padding-bottom: 15px;
}
.footer__icon i {
  font-size: 30px;
}
.footer__icon i:not(:first-child) {
  margin-left: 22px;
}
.footer__icon i:first-child {
  color: #3b5998;
}
.footer__icon i:nth-child(2) {
  color: #ff0a28;
}
.footer__icon i:nth-child(3) {
  color: #dd4b39;
}
.footer__info-item {
  font-size: 15px;
  margin-bottom: 15px;
}
.footer__info-item a {
  color: #4a4a4a;
}

.text {
  background-color: #fff;
  border-top: 2px solid #eee;
  padding-top: 25px;
  padding-bottom: 25px;
}
.text__item {
  display: block;
  text-align: center;
  line-height: 1.6;
  font-size: 13px;
  color: #777777;
}

/*# sourceMappingURL=style.css.map */
